
<div class="inner cover">
  <h1 class="cover-heading">Audrey's resume</h1>
  <p class="lead">Audrey Audrey Audrey Audrey</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


<%= video_tag(
 'HardDrivePhotojpeg (1).mp4',
 id: 'background',
 autoplay: true,
 loop: true,
 muted: true,
 poster: 'home_bg.png')
%>